<div class="container mt-4">
  <!-- Header Section -->
  <div class="row mb-3">
    <div class="col-12 d-flex justify-content-between align-items-center flex-wrap">
      <h2 class="mb-2 text-dark display-6">My Apartments</h2>
      <button class="btn btn-primary btn-sm mb-2 btn-regular-color-main-color" (click)="newApartment()">
        <i class="bi bi-plus-circle-fill"></i> New Apartment
      </button>
    </div>
  </div>

  <!-- Apartment Cards -->
  <div class="row" *ngFor="let apartment of apartments">
    <div class="col-12">
      <div class="card shadow-sm mb-4">
        <!-- Card Header -->
        <div class="card-header bg-light d-flex justify-content-between align-items-center">
          <strong>{{ apartment.name }}</strong>
          <div class="d-flex align-items-center">
            <h6 class="mb-0 me-2">Status</h6>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                     [checked]="apartment.isActive"
                     (change)="changeIsActive(apartment.id, $event)">
            </div>
          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body d-flex flex-column flex-md-row">
          <!-- Apartment Image -->
          <img [src]="apartment.imagePath" class="img-fluid rounded me-md-3 mb-3 mb-md-0" style="width: 150px; height: 100px; object-fit: cover;">

          <!-- Apartment Details -->
          <div class="flex-grow-1">
            <p class="mb-2">{{ apartment.description }}</p>
            <p class="text-muted mb-2">
              {{ apartment.address.street }}, {{ apartment.address.city }}, {{ apartment.address.state }}, {{ apartment.address.country }}
            </p>
            <p><strong>Price:</strong> ${{ apartment.price }} per night</p>
          </div>
        </div>

        <!-- Card Footer -->
        <div class="card-footer bg-light d-flex justify-content-end flex-wrap">
          <button class="btn btn-primary btn-sm me-2 mb-2 btn-regular-color-main-color" (click)="openDetailsModal(apartment)" data-bs-toggle="modal" data-bs-target="#apartmentModal">
            <i class="bi bi-eye-fill"></i>
          </button>
          <button class="btn btn-primary btn-sm me-2 mb-2 btn-regular-color-main-color" (click)="editApartment(apartment)">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn btn-danger btn-sm mb-2" (click)="openConfirmationDialog(apartment.id)">
            <i class="bi bi-trash-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Apartment Modal -->
<app-apartment-modal [apartment]="selectedApartment"></app-apartment-modal>
