<div class="container mt-4">
  <!-- Reservation Details Heading -->
  <div class="text-center mb-4">
    <h2 class="text-dark display-6">Reservation Details</h2>
    <hr class="w-25 mx-auto">
  </div>

  <!-- Reservation Information -->
  <div class="row">
    <div class="col" *ngIf="reservation">
      <div class="card shadow-sm">
        <div class="card-header bg-light">
          <strong>{{ reservation.createdOnUtc | date }}</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <!-- Apartment Image -->
            <div class="col-md-4 text-center">
              <img src="{{ reservation.apartment.imagePath }}" class="img-thumbnail" alt="{{ reservation.apartment.name }}">
            </div>

            <!-- Reservation Details -->
            <div class="col-md-8">
              <h3 class="card-title">{{ reservation.apartment.name }}</h3>
              <p class="card-text">{{ reservation.apartment.description }}</p>
              <p><strong>Address:</strong> {{ reservation.apartment.address.street }}, {{ reservation.apartment.address.city }}, {{ reservation.apartment.address.state }}, {{ reservation.apartment.address.country }}</p>
              <p><strong>Duration:</strong> {{ reservation.duration.start | date }} - {{ reservation.duration.end | date }} ({{ reservation.duration.lengthInDays }} day(s))</p>
              <p><strong>Period Price:</strong> ${{ reservation.priceForPeriod }}</p>
              <p><strong>Cleaning Fee:</strong> ${{ reservation.cleaningFee }}</p>
              <p><strong>Total Price:</strong> ${{ reservation.totalPrice }}</p>
              <p><strong>Status:</strong> <span class="badge bg-success">{{ reservation.statusDescription }}</span></p>

              <!-- Action Buttons -->
              <div class="d-flex justify-content-between">
                <div *ngIf="reservation.statusValue === 0">
                  <btn-primary
                    [btnText]="'Confirm Reservation'"
                    [loading]="confirmLoading"
                    [disabled]="confirmLoading || cancelLoading"
                    [btnClass]="'btn-sm btn btn-success'"
                    (submit)="confirmReservation()"
                  ></btn-primary>
                </div>
                <div *ngIf="reservation.statusValue === 0">
                  <btn-primary
                    [btnText]="'Cancel Reservation'"
                    [loading]="cancelLoading"
                    [disabled]="confirmLoading || cancelLoading"
                    [btnClass]="'btn-sm btn btn-danger'"
                    (submit)="cancelReservation()"
                  ></btn-primary>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Reservation Timeline Heading -->
  <div class="text-center mt-5 mb-4">
    <h2 class="text-dark display-7">Reservation Timeline</h2>
    <hr class="w-25 mx-auto">
  </div>

  <!-- Timeline Events -->
  <div class="row">
    <div class="col" *ngIf="reservation">
      <div class="container mt-4">
        <div class="row" *ngFor="let event of reservation.events">
          <div class="col text-center">
            <div class="timeline-event mb-2 p-2 border rounded shadow-sm" style="font-size: 0.85em;">
              <div class="timeline-icon mb-1">
                <i class="fas" [ngClass]="event.icon" style="font-size: 1.5em;"></i>
              </div>
              <div class="timeline-content">
                <span class="time text-muted">{{ event.createdAt | date: 'shortTime' }}</span>
                <h6 class="title">{{ event.eventTypeDescription }}</h6>
                <p>{{ event.additionalInformation }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
