<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2 class="mb-4 text-center">Reservation Details</h2>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngIf="reservation">
      <div class="card">
        <div class="card-header">
          <strong>{{ reservation.createdOnUtc | date }}</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="{{ reservation.apartment.imagePath }}" class="img-thumbnail" alt="{{ reservation.apartment.name }}">
            </div>
            <div class="col-md-8">
              <h3 class="card-title">{{ reservation.apartment.name }}</h3>
              <p class="card-text">{{ reservation.apartment.description }}</p>
              <p><strong>Address:</strong> {{ reservation.apartment.address.street }}, {{ reservation.apartment.address.city }}, {{ reservation.apartment.address.state }}, {{ reservation.apartment.address.country }}</p>
              <p><strong>Duration:</strong> {{ reservation.duration.start | date }} - {{ reservation.duration.end | date }} ({{ reservation.duration.lengthInDays }} day(s))</p>
              <p><strong>Period Price:</strong> ${{ reservation.priceForPeriod }}</p>
              <p><strong>Cleaning Fee:</strong> ${{ reservation.cleaningFee }}</p>
              <p><strong>Total Price:</strong> ${{ reservation.totalPrice }}</p>
              <p><strong>Status:</strong> {{ reservation.statusDescription }}</p>

              <div class="row justify-content-end">
                <div class="col">
                  <div *ngIf="reservation.statusValue === 0">
                    <button class="btn-sm btn btn-success" (click)="confirmReservation()" [disabled]="confirmLoading || cancelLoading">
                      <span *ngIf="confirmLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span *ngIf="!confirmLoading">Confirm Reservation</span>
                      <span *ngIf="confirmLoading" class="sr-only"> Loading...</span>
                    </button>
                  </div>
                </div>
                <div class="col d-block flex-nowrap justify-content-end d-sm-flex">
                  <div *ngIf="reservation.statusValue === 0">
                    <button class="order-1 btn-sm btn btn-danger" (click)="cancelReservation()" [disabled]="confirmLoading || cancelLoading">
                      <span *ngIf="cancelLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span *ngIf="!cancelLoading">Cancel Reservation</span>
                      <span *ngIf="cancelLoading" class="sr-only"> Loading...</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="m-4 text-center">Reservation Timeline</h2>
  </div>

  <div class="row">
    <div class="col" *ngIf="reservation">
      <div class="container mt-4">
        <div class="row" *ngFor="let event of reservation.events">
          <div class="col text-center">
            <div class="mb-4">
              <div class="timeline-icon">
                <i class="fas" [ngClass]="event.icon"></i>
              </div>
              <div class="timeline-content">
                <span class="time">{{ event.createdAt | date: 'shortTime' }}</span>
                <h5 class="title">{{ event.eventTypeDescription }}</h5>
                <p>{{ event.eventTypeDescription }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
