<div class="container mt-5">
  <h2>{{ isEditMode ? 'Edit Apartment' : 'Create Apartment' }}</h2>

  <!-- Certifique-se de que o formulário inteiro está dentro do formGroup -->
  <form [formGroup]="apartmentForm" (ngSubmit)="onSave()">

    <!-- Section: Place -->
    <div class="card mb-4">
      <div class="card-header">
        <h4>Place</h4>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" id="name" class="form-control" formControlName="name">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea id="description" class="form-control" formControlName="description"></textarea>
        </div>

        <div formGroupName="address" class="mb-3">
          <label for="street" class="form-label">Street</label>
          <input type="text" id="street" class="form-control" formControlName="street">

          <label for="number" class="form-label mt-3">Number</label>
          <input type="text" id="number" class="form-control" formControlName="number">

          <label for="city" class="form-label mt-3">City</label>
          <input type="text" id="city" class="form-control" formControlName="city">

          <label for="state" class="form-label mt-3">State</label>
          <input type="text" id="state" class="form-control" formControlName="state">

          <label for="zipCode" class="form-label mt-3">Zip Code</label>
          <input type="text" id="zipCode" class="form-control" formControlName="zipCode">

          <label for="country" class="form-label mt-3">Country</label>
          <input type="text" id="country" class="form-control" formControlName="country">
        </div>
      </div>
    </div>

    <!-- Section: Values -->
    <div class="card mb-4">
      <div class="card-header">
        <h4>Values</h4>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label for="price" class="form-label">Price per Night</label>
          <input type="number" id="price" class="form-control" formControlName="price">
        </div>

        <div class="mb-3">
          <label for="cleaningFee" class="form-label">Cleaning Fee</label>
          <input type="number" id="cleaningFee" class="form-control" formControlName="cleaningFee">
        </div>
      </div>
    </div>

    <!-- Section: Amenities -->
    <div class="card mb-4">
      <div class="card-header">
        <h4>Amenities</h4>
      </div>
      <div class="card-body">
        <!-- Select for choosing amenities -->
        <div class="mb-3">
          <label for="amenities" class="form-label">Select Amenities</label>
          <select id="amenities" class="form-select" (change)="onAmenitySelect($event)">
            <option *ngFor="let amenity of amenities" [value]="amenity.id">{{ amenity.name }}</option>
          </select>
        </div>

        <!-- Display selected amenities -->
        <div *ngIf="selectedAmenities.length > 0">
          <h5>Selected Amenities:</h5>
          <ul>
            <li class="m-3" *ngFor="let amenity of selectedAmenities">{{ getAmenityName(amenity) }}
              <button type="button" class="btn btn-sm btn-danger ms-2" (click)="removeAmenity(amenity)">Remove</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Section: Image -->
    <div class="card mb-4">
      <div class="card-header">
        <h4>Image</h4>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label for="imagePath" class="form-label">Image Path</label>
          <input type="text" id="imagePath" class="form-control" formControlName="imagePath">
        </div>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col m-2">
        <div>
          <button class="order-1 btn-sm btn btn-danger" (click)="return()" [disabled]="loading">
            <span>Return</span>
          </button>
        </div>
      </div>
      <div class="col d-block flex-nowrap justify-content-end d-sm-flex m-2">
        <div>
          <button class="btn-sm btn btn-success" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!loading">Save</span>
            <span *ngIf="loading" class="sr-only"> Loading...</span>
          </button>
        </div>
      </div>
    </div>

    <!-- <button type="submit" class="btn btn-primary btn-regular-color-main-color">Save</button> -->
  </form>
</div>
