@import 'ngx-toastr/toastr';
@import "bootstrap-icons/font/bootstrap-icons.css";

html,
body {
    height: 100%;
}

:root {
  --color-main: #3d55d1;
}

input {
  border-radius: 8px;
  flex: 1;
  border: 0;
  padding: 12px 24px;
  padding-right: calc(48px + 16px);
  outline-color:  var(--color-main);
}

.btn-ico-color-main-color {
  color: var(--color-main) !important;
  border-color: var(--color-main) !important;
}

.btn-regular-color-main-color {
  border-color: var(--color-main) !important;
  background-color: var(--color-main) !important;
}

button {
  background-color: var(--color-main);
}
